.main {
  width: 100vw;
  height: calc(100vh - 55px);

  @include mq(sm) {
    display: flex;
  }

  .MuiTypography-body1 {
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
}

.sidebar,
.list {
  padding: 1em;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
