.main {
  width: 100vw;
  height: 100vh;
  padding-top: 55px;

  @include mq(sm) {
    display: flex;
  }

  .MuiTypography-body1 {
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
}

.sidebar,
.notelist,
.note {
  padding: 1em;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar.no-show {
  left: 100%;
}
.notelist.no-show {
  left: 100%;
}
.note.no-show {
  left: 100%;
}
.sidebar.show {
  left: 0%;
}
.notelist.show {
  left: 0%;
}
.note.show {
  left: 0%;
}
