.main {
  width: 100vw;
  height: 100vh;
  padding-top: 55px;

  @include mq(sm) {
    display: flex;
  }

  .MuiTypography-body1 {
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
}

.sidebar,
.list,
.note {
  padding: 1em;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
