.note {
  background: #fff;
  color: $text-color;
  z-index: 200;
  overflow-y: auto;

  @include mq(md) {
    padding: 2em;
    padding-top: 0;
    position: relative;
    width: 57%;
  }

  &-actionbar {
    height: 30px;
    text-align: right;
  }
}

.fade-in {
  animation: fadeIn 0.35s ease-in-out;
}

.note-title {
  font-size: 22px;
  font-weight: 500;
  color: $primary;
  margin-top: 0;
  border-bottom: 2px solid #000;
  padding-top: 0.5em;
  padding-bottom: 0.4em;

  @include mq(md) {
    font-size: 30px;
  }
}

.note-body {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2em;
  line-height: 30px;

  h2 {
    font-size: 20px;
    border-bottom: 1px solid #000;
    font-weight: 500;
    color: $primary;
  }

  p {
    line-height: 32px;
    margin: 22px 0;
  }

  strong {
    font-weight: 500;
    color: $primary;
  }
}

.new-note {
  padding-top: 2em;
  @include mq(md) {
    padding: 2em 1em;
  }

  .MuiFormControl-root {
    color: $primary;
    margin-bottom: 2em;
    width: 100%;
  }

  .ck.ck-editor__main > .ck-editor__editable {
    height: 440px;
    color: $primary;
    font-size: 16px;
    line-height: 30px;
  }
}

.note-select {
  min-width: 200px;
  display: flex;
  width: 40%;
}

.note-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 500px;
    margin-bottom: 2em;
  }
  span {
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
  }
}

.editor-error {
  border: 1px solid #f44336;
}

.note-footer {
  padding-bottom: 1em;
  margin-top: 2em;

  @include mq(sm) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .MuiFormControl-root {
    margin-bottom: 0;
  }

  &-btns {
    text-align: right;
    margin-top: 2em;

    @include mq(sm) {
      margin-top: 0;
    }
  }

  button {
    width: 130px;
    margin: 0 0.5em;
  }

  .btn-save {
    background: $secondary;
    color: #fff;

    &:hover {
      background: darken($secondary, 3);
    }
  }
}

.note-file-upload {
  margin-left: 1em;
  input {
    display: none;
  }
}
