.note {
  background: #fff;
  color: $text-color;
  z-index: 200;
  padding-top: 55px;
  overflow-y: auto;

  @include mq(sm) {
    padding-top: 0;
    position: relative;
    width: 57%;
  }

  &__actionbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
  }
}

.note__title {
  font-size: 2em;
  font-weight: 500;
  color: $primary;
}

.note__body {
  font-size: 1.2em;
  line-height: 30px;
  margin-bottom: 2em;
}

.note__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-top: 2em;

  button {
    width: 130px;
    margin: 0 0.5em;
  }

  .btn__save {
    background: $secondary;
    color: #fff;
    // margin-left: 1em;

    &:hover {
      background: darken($secondary, 3);
    }
  }

  .btn__folder {
    .MuiButton-startIcon {
      color: $yellow;
    }
  }
}

.new__note {
  padding: 2em 1em;

  .MuiFormControl-root {
    color: $primary;
    margin-bottom: 2em;
    width: 100%;
  }

  .ck.ck-editor__main > .ck-editor__editable {
    min-height: 400px;
    color: $primary;
  }
}
