.header {
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 55px;
  border-bottom: 1px solid rgba(#fff, 0.05);

  @include mq(md) {
    height: 55px;
  }
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 0 1em;

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-left: 0.5em;
      margin-right: 1em;
    }

    h1 {
      font-size: 1.3em;
      font-weight: 500;
    }
  }

  &__search {
    background: $primary;
    overflow: hidden;
    padding-left: 2em;
    padding-right: 7px;
    padding-bottom: 0.5em;

    @include mq(md) {
      width: 500px;
      padding: 0;
    }
    .MuiInputBase-root {
      color: #fff;
      background: rgba(#fff, 0.1);
      padding-left: 1em;
      padding-right: 1em;
      width: calc(100% - 60px);
    }

    .MuiIconButton-root {
      color: #fff;
      width: 60px;
    }
  }

  .MuiIconButton-root {
    color: #fff;
  }

  .MuiButton-root {
    color: #ffffff;
    text-transform: capitalize;
  }

  .MuiButton-outlinedSizeSmall {
    border-color: #ffffff;
  }
}
