.header {
  background: $primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 55px;
  border-bottom: 1px solid rgba(#fff, 0.05);

  @include mq(md) {
    height: 55px;
  }
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 0 1em;

  .topbar__logo,
  .logo__wrap {
    display: flex;
    align-items: center;
  }

  .logo__wrap {
    @include mq(sm) {
      width: 17vw;
      min-width: 230px;
      margin-left: 5px;
    }
    img {
      margin-left: 0.5em;
      margin-right: 1em;
    }

    h1 {
      font-size: 1.3em;
      font-weight: 500;
    }
  }

  &__search {
    background: $primary;
    overflow: hidden;
    padding-right: 7px;
    position: relative;

    @include mq(lg) {
      width: 25.5vw;
    }
    .MuiInputBase-root {
      color: #fff;
      background: rgba(#fff, 0.1);
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      padding-right: 2.5em;
    }

    .MuiIconButton-root {
      color: #fff;
      width: 60px;
      position: absolute;
      right: 0;
      top: -6px;
    }
  }

  .MuiIconButton-root {
    color: #fff;
  }

  .MuiButton-root {
    color: #ffffff;
    text-transform: capitalize;
  }

  .MuiButton-outlinedSizeSmall {
    border-color: #ffffff;
  }
}

.topbar__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(lg) {
    width: 100%;
  }

  .user__account {
    display: flex;
    align-items: center;
  }

  .user {
    display: none;
    @include mq(sm) {
      margin-right: 1em;
      display: inline-block;
    }
  }

  .square {
    display: inline-block;
    background: $red;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 0.75em;
  }
}
